<p>Votre demande a été traiter avec succes.
    On vous remercie pour votre patience.
    On vous dommande ainsi de nous remplir ce formulaire https://docs.google.com/forms/d/e/1FAIpQLSfFHbYO4rs0Zo62Fgvnl0w_RJ9DbvYlxFeXT4iiGPHe1kVrtQ/viewform?vc=0&c=0&w=1&flr=0&gxids=7628 d'ici 24h pour passer votre entretient .
    Dans le cas vous en avez pas vous devez  crée un compte skype ou whatsapp .
</p>